<!-- all Alerts Tracking-->
<!doctype html>

<html lang="en">

<head>
    <%- include("head") %>
</head>

<body>
    <%- include("navbar") %>

    <h2>Alert Tracking:</h2>

    <div class="Alert_Category text-center">
        <h3>Alert Category</h3>
        <br>
                                              <!-- the galactic empire new AT-ATs -->
        <ul class="AT-List list-group">
            <li><a class="list-group-item" href="/AT-M">Maintenance</a></li>
            <li><a class="list-group-item" href="/AT-T">Tsunamis</a></li>
            <li><a class="list-group-item" href="/AT-TOR">Tornadoes</a></li>
            <li><a class="list-group-item" href="/AT-F">Floods</a></li>
            <li><a class="list-group-item" href="/AT-E">Earthquakes</a></li>
            <li><a class="list-group-item" href="/AT-W">Wildfires</a></li>  
        </ul>       
    </div>
        

</body>

</html>