<!doctype html>

<html lang="en">

<head>
    <%- include("head") %>
</head>

<body onload="tracking('flood')">
    <%- include("navbar") %>
    
    <div class="issues text-center">
        <h2>Alert Tracking: Floods</h2>
    </div>  

    <div class="issues text-center">

        <!-- issues for the last 30 days -->
        
        <div class="last-30-info" id="last-30 ">
            <h2>Last 30 days</h2>
            <table class="table table-condesned">
                <tr>
                    <th>Date</th>
                    <th>Coordinates</th>
                    <th>Details</th>
                </tr>
                <tbody id="last30Body">
                    <tr>
                        <th> Wed May 04 2022</th>
                        <th>-11.168,143.996</th>
                        <th>light flood damage in area</th>
                    </tr>
                    <tr>

                        <th>Wed May 25 2022</th>
                        <th>-13.555,144.15</th>
                        <th>flooding damage</th>
                    </tr>
                    <tr>
                        <th>Mon May 02 2022</th>
                        <th>-12.236,144.659</th>
                        <th>heavy rain</th>
                    </tr>
                </tbody>
            </table>
            
        </div>

        <div class="me- ms-1" id="Previous-issues">
            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop"
            aria-controls="issuedtdrop" aria-expanded="false"> Alert ID: 01</button>

            <div class="collapse issues1" id="issuedrop">
                
                <p>areas in Cape York has little flooding</p>
                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                        <tbody>
                            <tr>
                            <td>01</td>
                            <td>Flood</td>
                            <td>-11.168,142.39</td>
                            <td>Low</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop2"
            aria-controls="issuedtdrop" aria-expanded="false">Alert ID: 02</button>

            <div class="collapse issues2" id="issuedrop2">
                
                <p>severe flooding, casuing damage to local areas</p>
                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                        <tbody>
                            <tr>
                            <td>02</td>
                            <td>Flooding damage</td>
                            <td>-13.555,143.987</td>
                            <td>high</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop3"
            aria-controls="issuedtdrop" aria-expanded="false"> Alert ID: 03</button>

            <div class="collapse issues3" id="issuedrop3">
                
                <p>flooding caused by heavy rain</p>

                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                        <tbody>
                            <tr>
                            <td>03</td>
                            <td>heavy rain</td>
                            <td>-12.236,143.987</td>
                            <td>low</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>