<!doctype html>

<html lang="en">

<head>
    <%- include("head") %>
</head>

<body onload="tracking('maintenance')">
    <%- include("navbar") %>

    <h2>Maintenance</h2>
        <div class="issues text-center">

        <div class="" id="last-30">
            <h2>Last 30 days</h2>
            <!-- issues for the last 30 days -->
                <table class="table table-condesned">
                    <tr>
                        <th>date</th>
                        <th>area</th>
                        <th>issue</th>
                    </tr>
                    <tbody id="last30Body">
                    </tbody>
                </table>
          
        </div>

        <div class="me- ms-1" id="Previous-issues">
        </div>

      


    </div>

</body>

</html>