<!doctype html>

<html lang="en">

<head>
    <%- include("head") %>
</head>

<body onload="tracking('tsunami')">
    <%- include("navbar") %>
    
    <div class="issues text-center">
        <h2>Alert Tracking: Tsunamis</h2>
    </div>  

    <div class="issues text-center">

        <!-- issues for the last 30 days -->
        
        <div class="last-30-info" id="last-30 ">
            <h2>Last month</h2>
            <table class="table table-condesned">
                <tr>
                    <th>Date</th>
                    <th>Coordinates</th>
                    <th>Details</th>
                </tr>
                <tbody id="last30Body">
                    <tr>
                        <th>Fri May 27 2022</th>
                        <th>-11.695</th>
                        <th>Tsunami</th>
                    </tr>
                </tbody>
            </table>
            
        </div>

        <div class="me- ms-1" id="Previous-issues">
            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop"
            aria-controls="issuedtdrop" aria-expanded="false"> Alert ID:</button>

            <div class="collapse issues1" id="issuedrop">
                
                <p>tsunami on the coast</p>
                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                        <tbody>
                            <tr>
                            <td>01</td>
                            <td>tsunami</td>
                            <td>27/May/2022</td>
                            <td>high</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop2"
            aria-controls="issuedtdrop" aria-expanded="false"> Alert ID:</button>

            <div class="collapse issues2" id="issuedrop2">
                
                <p></p>
                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                        <tbody>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop3"
            aria-controls="issuedtdrop" aria-expanded="false"> Alert ID:</button>

            <div class="collapse issues3" id="issuedrop3">
                
                <p></p>

                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                        <tbody>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>