<!doctype html>

<html lang="en">

<head>
    <%- include("head") %>
</head>

<body onload="tracking('tornado')">
    <%- include("navbar") %>
    
    <div class="issues text-center">
        <h2>Alert Tracking: Tornadoes</h2>
    </div>  

    <div class="issues text-center">

        <!-- issues for the last 30 days -->
        
        <div class="last-30-info" id="last-30 ">
            <h2>Last 30 days</h2>
            <table class="table table-condesned">
                <tr>
                    <th>date</th>
                    <th>area</th>
                    <th>issue</th>
                </tr>
                <tbody id="last30Body">
                
                 
                </tbody>
            </table>
            
        </div>

        <div class="me- ms-1" id="Previous-issues">
            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop"
            aria-controls="issuedtdrop" aria-expanded="false"> Previous Issue 1</button>

            <div class="collapse issues1" id="issuedrop">
                <div class="issue-Header" id="issue-repoted">
                    <h2>Issues: Tornadoes</h2>
                </div>
                
                <p>Tornadoes details</p>

                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Severity</th>
                        </tr>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>

            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop2"
            aria-controls="issuedtdrop" aria-expanded="false"> Previous Issue 2</button>

            <div class="collapse issues2" id="issuedrop2">
                <div class="issue-Header" id="issue-repoted">
                    <h2>Issues: Tornadoes</h2>
                </div>
                
        
                <p>Tornadoes details</p>
                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Severity</th>
                        </tr>
                        <tbody>
                     
                        </tbody>
                    </table>
                </div>
            </div>


            <button class="PI1 btn btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#issuedrop3"
            aria-controls="issuedtdrop" aria-expanded="false"> Previous Issue 3</button>

            <div class="collapse issues3" id="issuedrop3">
                <div class="issue-Header" id="issue-repoted">
                    <h2>Issues: Tornadoes</h2>
                </div>
                
                <p>Tornadoes details</p>

                <div class="Sensor-info">
                    <h3>Sensor Information</h3>
                    <table class="table table-condesned"> 
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Severity</th>
                        </tr>
                        <tbody>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>