<!--
    Nav bar that can be included at the top of every page
-->

<nav class = 'navbar'>
    <a class="navbar-brand" href="/">
        <img src="alert.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
    </a>
</nav>